.config/\nsample_data/
sentiment140.zip
fer2013.zip
fer2013/sentiment140/training.1600000.processed.noemoticon.csv
sentiment140.zip
fer2013.zip
fer2013
fer2013/sentiment140/training.1600000.processed.noemoticon.csv
sentiment140.zip
fer2013.zip
fer2013
fer2013/sentiment140/training.1600000.processed.noemoticon.csv
.pth